<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%word1 = params[:word1]%>
    <%word2 = params[:word2]%>
    <%word3 = params[:word3]%>
    <%word4 = params[:word4]%>
    <%word5 = params[:word5]%>
    <p><%="#{word1} #{word2} #{word3} #{word4} #{word5}." %></p>
  </body>
</html>